.admin_menu_header {
    min-height: 0px;
    border: none;
    background-color: #fafafa;
}
.admin_menu_mob{
    margin-bottom: 0px;
    padding: 8px 0px 0px;
    border: 0px;
}
.admin_menu_mob:hover{
    background-color: #fafafa!important;
}
.admin_block_menu_text{
    position: relative;
    bottom: 3px;
    right: 3px;
    font-family: Poppins_bold;
    font-size: 13px;
}
.admin_style_mob_menu  a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 44px !important;
    font-size: 13px;
    display: block;
    width: 100%;
    color: #181818 !important;
    font-family: 'Poppins_bold', sans-serif;
    font-weight: 800 !important;
    text-transform: none;
}
.admin_style_mob_menu{
    background-color: #fafafa;
}.admin_style_mob_menu a{
     background-color: #fafafa!important;
 }
.admin_style_mob_menu .dropdown-menu{
    text-align: center;
}
.admin_menu_header .after_style:after {
    margin-left: 7px;
    margin-top: -7px;
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@media (max-width: 767px) {
    .user_login{
        float: none!important;
    }
    .admin_style_mob_menu{
        text-align: center;
    }
    .admin_menu_header .after_style:after {
        margin-left: 0px;
    }
}
.sign_in_button:hover{
    background-color: black;
}
.sign_in_button{
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Poppins_Light', sans-serif;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
    background-color: rgba(50,50,50,0.50);
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
    width: 100%;
}
.form_admin{
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    font-family: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #181818;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    display: block;
    font-size: 16px;
    margin: 0 0 1rem 0;
    padding: 8px;
    height: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s linear;
}
.form_admin:focus{
    box-shadow: none!important;
    border-color: #181818;;
}
.title{
    text-align: center;
    font-family: 'Poppins_Bold', sans-serif;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 4.5rem;
    font-size: 28px;
}
.form_admin::-webkit-input-placeholder {
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
}
.form_admin::-moz-placeholder {
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
}/* Firefox 19+ */
.form_admin:-moz-placeholder {
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
}/* Firefox 18- */
.form_admin:-ms-input-placeholder{
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
}
.block_style{
    margin:0 auto;
    margin-top:50px;
    float:none;
    border: 1px solid #DDDDDD;
    padding: 1px 20px 1px;
}

.padding{
    padding: 0px;
}
.userform a{
    float: right;
    cursor: pointer;
    font-family: 'Poppins_Regular', sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 40px 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
    background-color: rgba(50,50,50,0.50);
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
}
.userform a:hover{
    cursor: pointer;
    font-family: 'Poppins_Regular', sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 40px 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
    background-color: black;
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
}
.userform button{
    float: right;
    cursor: pointer;
    font-family: 'Poppins_Regular', sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 40px 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
    background-color: rgba(50,50,50,0.50);
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
}
.userform button:hover{
    cursor: pointer;
    font-family: 'Poppins_Regular', sans-serif;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    font-size: 16px;
    background-color: black;
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
}
.table_border {
    padding: 0px;
    font-size: 16px;
    color: #4d4d4d;
    cursor: pointer;
    /*display: block;*/
    font-weight: 100 !important;
    line-height: 1.5;
    margin-bottom: 0;
}
.userform input::-webkit-input-placeholder {
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    display: block;
    font-weight: normal;
}
.userform input::-moz-placeholder {
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    display: block;
    font-weight: normal;
}/* Firefox 19+ */
.userform input:-moz-placeholder {
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    display: block;
    font-weight: normal;
}/* Firefox 18- */
.userform input:-ms-input-placeholder{
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    display: block;
    font-weight: normal;
}
.userform textarea::-webkit-input-placeholder {
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    display: block;
    font-weight: normal;
}
.userform textarea::-moz-placeholder {
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    display: block;
    font-weight: normal;
}/* Firefox 19+ */
.userform textarea:-moz-placeholder {
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    display: block;
    font-weight: normal;
}/* Firefox 18- */
.userform textarea:-ms-input-placeholder{
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: #grey;
    cursor: pointer;
    display: block;
    font-weight: normal;
}
.userform input[type="text"], .userform input[type="number"], .userform input[type="email"],.userform input[type="password"]{
    float: right;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    font-family: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #181818;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    display: block;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 8px;
    height: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s linear;
}
.userform input[type="text"], .userform input[type="number"]{
    box-shadow: none!important;
    border-color: #181818;;
}
.userform select{
    float: right;
    border-radius: 0;
    background-color: #FFFFFF;
    font-family: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #181818;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    display: block;
    font-size: 16px;
    margin: 0 0 1rem 0;
    padding: 6px;
    height: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s linear;
}
.userform select:focus{
    box-shadow: none!important;
    border-color: #181818;;
}
.userform textarea{
    float: right;
    border-radius: 0;
    background-color: #FFFFFF;
    font-family: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #181818;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    display: block;
    font-size: 16px;
    margin: 0 0 1rem 0;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s linear;
}
.userform textarea:focus{
    box-shadow: none!important;
    border-color: #181818;;
}
.userform label{
    padding: 0px;
    font-size: 16px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: 100!important;
    line-height: 1.5;
    margin-bottom: 0;
}
.userform p{
    padding: 0px;
    font-size: 16px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: 100!important;
    line-height: 1.5;
    margin-bottom: 0;
    display: inline-block;
}
.userform div{
    margin-bottom: 0px;
}

.table_block{
    margin:0 auto;
    margin-top:50px;
    float:none;
}
.table_border tr{
    border: 1px solid #181818!important;
}
.table_border th{
    border: 1px solid #181818!important;
}
.table_border th a{
    color: #222222;
    text-align: left;
}

.table_border td{
    font-size: 16px;
    color: #222222;
    text-align: left;
    border: 1px solid #181818 !important;

}
.title_form{
    position: relative;
    bottom: 16px;
    text-align: left;
    font-size: 18px;
    background-color: white;
    display: inline-block;
    padding-right: 5px;
    margin-bottom: 0px;
}
.img_back img{
    height: 50px;
}
@media (min-width: 768px) {
    .user_login {
        float: right !important;
    }
}

.button_seting button{
    padding: 4px 8px!important;
    font-size: 14px!important;
    line-height: 20px!important;
    cursor: pointer!important;
    color: #333!important;
    text-align: center!important;
    overflow: visible!important;
    -webkit-appearance: none!important;
    background: transparent!important;
    border: none!important;
    margin: 0px!important;
}
.button_seting button:hover{
    padding: 4px 8px!important;
    font-size: 14px!important;
    line-height: 20px!important;
    cursor: pointer!important;
    color: #333!important;
    text-align: center!important;
    overflow: visible!important;
    -webkit-appearance: none!important;
    background: transparent!important;
    border: none!important;
    margin: 0px!important;
}
.glyphicon-pencil{
    color: rgba(50,50,50,0.50);
}
.glyphicon-eye-open{
    color: rgba(50,50,50,0.50);
}
.glyphicon-trash{
    color: red;
}
.button_width{
    float: right;
}
.button_width button{
    width: 100%;
}
.style_text_branches h2{
    box-sizing: border-box;
    margin: 0.2rem 0px 0.5rem;
    padding: 0px;
    font-family: Poppins_Bold, sans-serif;
    color: #222222; text-rendering: optimizeLegibility;
    line-height: 1.4;
    font-size: 36px;
}
.style_text_branches h3{
    box-sizing: border-box;
    margin: 0.2rem 0px 0.5rem;
    padding: 0px;
    font-family: Poppins_Bold, sans-serif;
    color: #222222; text-rendering: optimizeLegibility;
    line-height: 1.4;
    font-size: 28px;
}
.style_text_branches p{
    box-sizing: border-box;
    margin: 0px 0px 1.25rem;
    padding: 0px; font-family: Poppins_Light, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: #222222;
}
.style_text_branches ul{
    box-sizing: border-box;
    margin: 0px 0px 1.25rem;
    padding: 0px 20px;
    font-family: Poppins_Light, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: #222222;
}
.style_text_branches a {
    box-sizing: border-box;
    color: #181818;
    text-decoration-line: none;
    line-height: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.298039);
}
.p_class{
    box-sizing: border-box;
    margin: 0px 0px 1.25rem;
    padding: 0px; font-family: Poppins_Light, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: #222222;
}
.tab_title_admin  > li > a:hover {
    background: #e1e1e1;
}
.tab_title_admin a{
    border-right: none!important;
    border-left: none!important;
    cursor: pointer!important;
    font-family: Poppins_Regular , sans-serif;
    cursor: default;
    color: #181818;
    background: #EFEFEF;
    padding: 0 17px;
    text-align: center;
    overflow: hidden;
    height: 45px;
    border-radius: 0px!important;
}
.tab_title_admin .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
    font-family: Poppins_Bold , sans-serif;
    color: #181818;
    border-top: 7px solid #181818!important;
    margin-top: -7px;
    height: 52px;
}
.tab_title_admin li{
    width: 25%;
}
@media (max-width: 767px)  {
    .tab_title_admin li{
        width: 50%;
    }
}
.class_hom_page .title_p{
    font-family: 'Poppins_Bold', sans-serif;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 28px;
}
.table_border_gray a:hover {
    text-decoration: underline;
}
.table_border_gray a{
    text-decoration: none;
    font-family: Poppins_bold, sans-serif;
    font-size: 16px;
    color: #ff0000;
    line-height: 1.5;
}
.table_border_gray tr{
    border: none!important;
}
.table_border_gray th{
    border: none!important;
}
.table_border_gray th a{
    border: none!important;
    color: #222222;
    text-align: left;
}
.table_border_gray td span{
    border: none!important;
    color: #222222;
    text-align: left;
}
.table_border_gray td{
    border: none!important;
    font-size: 16px;
    color: #222222;
    text-align: left;
}
.table_border_gray {
    padding: 0px;
    font-size: 16px;
    color: #4d4d4d;
    cursor: pointer;
    font-weight: 100 !important;
    line-height: 1.5;
    margin-bottom: 0;
}
.button_admin_book{
    cursor: pointer;
    font-family: 'Poppins_Regular', sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 1px 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
    background-color: rgba(50,50,50,0.50);
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
}
.button_admin_book:hover{
    background-color: black;
}
.button_admin_book_no_button{
    background-color: white;
    border-color: white;
    font-family: Poppins_Regular, sans-serif;
    font-size: 16px;
    color: #222222;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
}
.button_admin_book_no_button:hover{
    border-radius: 0px;
    cursor: pointer;
    border-color: white;
    font-family: Poppins_Regular, sans-serif;
    font-size: 16px;
    color: #222222;
    background-color: #ddd;

}
.col_float{
    margin: 0 auto;
    float: none;
    padding: 0px;
    margin-top: 25px;
}
.button_merge button{
    margin: 0px 0 20px;
}
.booking_button a{
    text-align: center;
}
.booking_button a{
    text-align: center;
    cursor: pointer;
    font-family: 'Poppins_Regular', sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 40px -2px;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    background-color: rgba(50,50,50,0.50);
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
}
.booking_button a:hover{
    background-color: black;
}
.booking_button{
    text-align: center;
}
.booking_button {

}
.class1 a{
    width: 50%;
}
.class2 a{
    width: 33%;
}
.class3 a{
    width: 20%;
}
.class4 a{
    width: 33%;
}
.tab_title_leads  > li > a:hover {
    background: #e1e1e1;
}
.tab_title_leads a{
    border-right: none!important;
    border-left: none!important;
    cursor: pointer!important;
    font-family: Poppins_Regular , sans-serif;
    cursor: default;
    color: #181818;
    background: #EFEFEF;
    padding: 0 17px;
    text-align: center;
    overflow: hidden;
    height: 45px;
    border-radius: 0px!important;
}
.tab_title_leads .nav-tabs .nav-link.active  {
    font-family: Poppins_Bold , sans-serif;
    color: #181818;
    border-top: 7px solid #181818!important;
    margin-top: -7px;
    height: 52px;
}
.tab_title_leads li{
    width: 20%;
}
.admin_style_mob_menu a:hover {
    background-color: #ddd!important;
}
