.container_style{
    padding-top: 0px!important;
    margin-top: 20px;
}
@media (min-width: 768px) and  (max-width:1400px)  {
    .container_style{
        max-width: 100%;
    }
}
.product_style{
    padding: 0px;
}
.product_style div{
    cursor: pointer;
    display: block;
}
.product_style img{
    width: 100%;
}
.product_style a{
    text-decoration: none;
}
.product_style p{
    font-size: 18px;
    font-family: 'Poppins_bold', sans-serif;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
   text-align: center;
}
.style_right_panel input:focus{
    border-color: #181818;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
}.style_right_panel textarea:focus{
    border-color: #181818;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
}
.style_right_panel input{
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    font-family: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #181818;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    display: block;
    font-size: 16px;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 37px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s linear;
}
.style_right_panel textarea{
    height: 120px;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    font-family: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #181818;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    display: block;
    font-size: 16px;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s linear;
}
.style_right_panel select{
    height: 37px;
    -webkit-appearance: none !important;
    border-radius: 0;
    background-color: #FAFAFA;
    background-size: 4px;
    background-image: url(/web/images/home/select_row.png);
    background-position: 98% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 2px;
    border-color: #181818;
    padding: 0.5rem;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
}
.style_right_panel .phone_p{
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
}
.style_right_panel label{
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
}
.style_right_panel{
    bottom: 3px;
}
.style_right_panel .title_right_panel{
    padding-left: 15px;
    font-family: 'Poppins_Bold', sans-serif;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 28px;
}
.style_right_panel .button_right_menu{
    cursor: pointer;
    font-family: 'Poppins_Light', sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 40px 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
    background-color: rgba(50,50,50,0.50);
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
    width: 100%;
}
.style_right_panel .button_right_menu:hover{
    background-color: black;
}
.form_height{
    height:18px;
}
.left_panel h1{
    font-family: 'Poppins_Bold', sans-serif;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 28px;
}
.left_panel span{
    font-family: 'Poppins_Bold', sans-serif;
    border-bottom: dotted 1px #CCCCCC;
    font-style: normal;
    color: #333333;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
}
.left_panel span:hover {
    border-bottom: dotted 1px #003f54;
    color: #008CBA;
}
.left_panel p{
    font-family: 'Poppins_Regular', sans-serif;
    font-style: normal;
    color: #222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    font-size: 15px;
}
.border_style{
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #DDDDDD;
}
@media (max-width: 767px) {
    .style_right_panel .title_right_panel {
        font-size: 23px;
    }
    .style_right_panel label {
        font-size: 14px;
    }
    .mob1{
        margin-bottom: 20px;
    }
    .container_style{
        padding: 0px!important;
        width: 100%;
    }
    .style_right_panel{
        padding: 0px;
    }
}
.product_style img:hover{
    opacity: 0.7;
}
.tooltip-arrow{
    left: 5%!important;
}

.tooltip-inner {
    border-radius: 0px;
    background-color: black;
    font-size: 16px;
}