@import "http://webfonts.ru/import/lato.css";
/*
	Lato, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic, 900, 900 italic
*/
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/poppins */
@import "http://fonts.fontstorage.com/import/poppins.css";
/*
	Poppins, 300, 400, 500, 600, 700
*/

/*
@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoMedium";
    src: url("../fonts/LatoMedium/Lato-Medium.eot");
    src: url("../fonts/LatoMedium/Lato-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoMedium/Lato-Medium.woff") format("woff"),
    url("../fonts/LatoMedium/Lato-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoBlack";
    src: url("../fonts/LatoBlack/Lato-Black.eot");
    src: url("../fonts/LatoBlack/Lato-Black.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBlack/Lato-Black.woff") format("woff"),
    url("../fonts/LatoBlack/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "LatoHeavy";
  src: url("../fonts/LatoHeavy/Lato-Heavy.eot");
  src: url("../fonts/LatoHeavy/Lato-Heavy.woff") format("woff"),
       url("../fonts/LatoHeavy/Lato-Heavy.ttf") format("truetype"),
       url("../fonts/LatoHeavy/Lato-Heavy.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
    font-family: "FiraSans";
    src: url("/web/fonts/FiraSans/FiraSans-Heavy.eot");
    src: url("/web/fonts/FiraSans/FiraSans-Heavy.eot?#iefix")format("embedded-opentype"),
    url("/web/fonts/FiraSans/FiraSans-Heavy.woff") format("woff"),
    url("/web/fonts/FiraSans/FiraSans-Heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/poppins */

@font-face {
    font-family: 'Poppins_Light';
    src: local('Poppins Light'), local('Poppins-Light'), url('/web/fonts/Poppinslight.woff2') format('woff2'), url('/web/fonts/Poppinslight.woff') format('woff'), url('/web/fonts/Poppinslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins_Regular';
    src: local('Poppins'), local('Poppins-Regular'), url('/web/fonts/Poppins.woff2') format('woff2'), url('/web/fonts/Poppins.woff') format('woff'), url('/web/fonts/Poppins.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins_Medium';
    src: local('Poppins Medium'), local('Poppins-Medium'), url('/web/fonts/Poppinsmedium.woff2') format('woff2'), url('/web/fonts/Poppinsmedium.woff') format('woff'), url('/web/fonts/Poppinsmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins_SemiBold';
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url('/web/fonts/Poppinssemibold.woff2') format('woff2'), url('/web/fonts/Poppinssemibold.woff') format('woff'), url('/web/fonts/Poppinssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins_Bold';
    src: local('Poppins Bold'), local('Poppins-Bold'), url('/web/fonts/Poppinsbold.woff2') format('woff2'), url('/web/fonts/Poppinsbold.woff') format('woff'), url('/web/fonts/Poppinsbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
