.footer {
    background-color: #181818;
    clear: both;
    margin-top: 2em;
    padding: 39px 0 12px;
    min-height: 322px;
}
.footer_body{

    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

}
@media (min-width: 768px) and  (max-width:1400px)  {
    .footer_body{
        max-width: 100%;
    }
}
.footer_menu1 a{
    color: white;
    display: inline-block;
}
.footer_menu2 a{
    color: white;
    display: inline-block;
}
.footer_menu1 a{
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Poppins_Regular', sans-serif;
}
.footer_menu2 a:hover{
    color: yellow;
    cursor: pointer;
}
.footer_information .hover_style:hover{
    color: yellow;
    cursor: pointer;
}
.footer_menu1 a:hover{
    color: yellow;
    cursor: pointer;
}
.footer_menu2 a{
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Poppins_Regular', sans-serif;
}
.footer_information{
    color: white;
}
.footer_information p{
     font-size: 14px;
     line-height: 0.9;
     font-family: 'Poppins_Regular', sans-serif;
 }
.footer_adres{
    color: white;
}
.footer_adres p{
    font-size: 14px;
    line-height: 0.9;
    font-family: 'Poppins_Regular', sans-serif;
}
.footer_adres .add{
    padding-right: 3px;
}
.footer_adres .tel{
    padding-top: 22px;
}
.footer_adres p{
    text-align: right;
}
.footer_mob{
    float: right;
    text-align: right;
}
.social_style{
    position: relative;
    bottom: 12px;
    left: 4px;
    margin-right: 7px;
    float: right;
}
.foter_style_height{
    height: 49px;
}
.footer_mob a:hover{
    cursor: text;
    color: white;
    text-decoration: none;
}
.footer_mob p{
    display: inline-block;
}
@media (max-width: 767px) {
    .social_style{
        padding-top: 33px;
        text-align: center;
    }
    .footer_mob p{
        margin: 0px;
        display: block;
    }
    .footer_mob{
        padding-top: 33px;
        text-align: center;
    }
    .footer_body {
        min-width: 100%;
    }
    .footer_information{
        padding-top: 52px;
    }
    .footer_information p{
        text-align: center;
    }
    .footer_adres{
        padding-top: 33px;
    }
    .footer_adres p{
        text-align: center;
    }
    .footer_menu2  {
        padding-top: 33px;
    }
    .footer_menu1 p {
        text-align: center;
    }
    .footer_menu2 p {
        text-align: center;
    }
}