html,
body {
    height: 100%;
}


.tp-bullet:hover .tp-bullet-image {
    display: block;
    opacity: 1;
    transform: scale(1) translateX(-50%) translateY(0%);
    -webkit-transform: scale(1) translateX(-50%) translateY(0%);
    visibility: visible;
}

.tp-bullet-image {
    position: absolute;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    bottom: 3px;
    transition: all 0.3s;
    -webkit-transform-style: flat;
    transform-style: flat;
    perspective: 600;
    -webkit-perspective: 600;
    transform: scale(0) translateX(-50%) translateY(0%);
    -webkit-transform: scale(0) translateX(-50%) translateY(0%);
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    margin-bottom: 15px;
    border-radius: 6px;
}
.tp-bullet {
    overflow: initial !IMPORTANT;
    width: 3px !important;
    height: 3px !important;
    position: absolute;
    background: rgba(255,255,255,1);
    cursor: pointer;
    border: 5px solid rgba(0,0,0,1);
    border-radius: 50%;
    box-sizing: content-box;
    -webkit-perspective: 400;
    perspective: 400;
    -webkit-transform: translatez(0.01px);
    transform: translatez(0.01px);
    transition: all 0.3s;
}

.inputSearchButton{
    cursor:pointer;
}
.inputSearchButton.active{
    background-color: grey;
}
.inputSearchButton:hover{
    background-color: grey !important;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}



.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.header_style_text h3 {
    font-family: 'Poppins_bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-top: 3px;
    margin-bottom: 8px;
    color: #fff;
    font-size: 27px;
    line-height: 1.4;
}

.header_style_text img {
    vertical-align: inherit;
    width: 425px;
}

@media (min-width: 768px) and (max-width: 1329px){
    .header_style_text img {
        width: 100%;
    }
}

.header_style_text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 147px;
    text-align: center;
}

.header_style {
    max-width: 100% !important;
    padding: 32px 0;
    background: #181818;
}

.height_blocks {
    height: 15px;
}

.menu_header {
    margin-bottom: 0px!important;
    min-height: 0px;
    border: none;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;

}

.logo_style {
    height: 147px;
}

.logo_style img {
    width: 125px;
    margin: 0 auto;
    display: block;
}

.right_blocks_header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 147px;
}

.style_telephone_header {
    font-family: 'Poppins_bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 37px;
    font-weight: 900;

}

.right_text_style {
    margin-top: 20px;
    margin-bottom: 0px;
}

.right_text_style p {
    font-family: 'Poppins_Regular', sans-serif;
    margin: 0px;
    font-size: 14px;
    color: white;
    line-height: 1.6;
}

.right_text_style i {
    color: white;
    font-size: 37px;
}

.social_links {
    float: right;
    display: table !important;
    margin: 0 auto;
}
.social_links a:hover {
    color: yellow;
   background-color: #181818!important;
}
.social_links a {
    color: #fff;
}

.social_links li {
    font-size: 20px !important;
}

.menu_style_header a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 44px !important;
    font-size: 13px;
    display: block;
    width: 100%;
    color: #181818 !important;
    font-family: 'Poppins_bold', sans-serif;
    font-weight: 800 !important;
    text-transform: none;
}

.menu_style_header .open a:focus {
    background-color: #fafafa !important;
}

.menu_style_header .after_style:after {
    margin-left: 7px;
    margin-top: -7px;
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu_style_header a span {
    border-top: none;
}



.menu_style_header .dropdown-menu {
    text-align: center;
}

.dropbtn {
    background-color: #f9f9f9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border: 1px #cccccc solid!important;
    text-align: center;
    display: none;
    position: absolute;
    padding: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content li {
    list-style-type: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
}
@media (min-width: 768px) {
    .menu_header1 {
        display: none;
    }
}
@media (max-width: 767px) {
    .after_style:after {
        position: relative;
        top: 20px;
        float: right;
        margin-top: -7px;
        content: "\f107";
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        color: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .style_mob_menu  a {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        line-height: 44px !important;
        font-size: 13px;
        display: block;
        width: 100%;
        color: #181818 !important;
        font-family: 'Poppins_bold', sans-serif;
        font-weight: 800 !important;
        text-transform: none;
    }
    .style_mob_menu{
        background-color: #fafafa;
    }.style_mob_menu a{
        background-color: #fafafa!important;
    }
    .style_mob_menu .dropdown-menu{
        text-align: center;
    }


    .menu_header1 {
        min-height: 0px;
        border: none;
        background-color: #fafafa;
    }
    .menu_header{
        display: none;
    }

    .menu_style_header {
        margin-left: 0%;
    }
    .header_style {
        overflow: hidden;
        padding: 46px 0 30px;
        background: #181818;
    }
    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 5px!important;
    }
    .block_menu .icon-bar{
        width: 18px;
    }
    .block_menu{
        display: inline-block;
    }
    .block_menu_text{
        position: relative;
        bottom: 3px;
        right: 3px;
        font-family: Poppins_bold;
        font-size: 13px;
    }
    .menu_style_header .after_style:after {
        position: absolute;
        right: 15px;
        top:20px;
    }

    .style_mob_menu{
        text-align: center;
        border: 0px;
    }
    .menu_mob{
        margin-bottom: 0px;
        padding: 8px 0px 0px;
        border: 0px;
    }
    .menu_mob:hover{
        background-color: #fafafa!important;
    }
    .menu_style_header {
        max-width: 100%;
    }
    .height_blocks {
        height: 10px;
    }
    .social_links {
        float: none;
    }
    .social_links li {
        text-align: center;
        display: inline-block;
    }
    .right_text_style {
        margin-top: 15px;
    }

    .style_telephone_header {
        font-size: 27px;
    }

    .right_text_style i {
        font-size: 27px;
    }

    .right_text_style p {
        text-align: center;
    }

    .right_text_style {
        text-align: center;
    }

    .right_blocks_header {
        display: block;
    }

    .header_style_text h3 {
        font-size: 22px;
    }

    .header_style_text {
        height: auto;
    }

    .header_style_text img {
        padding-left: 27px;
        padding-right: 27px;
    }

    .logo_style {
        display: none;
    }
}
.style_telephone_header:hover {
    text-decoration: none;
    color: white;
}
.brand_sow_desig:hover{
    cursor: pointer;
    border-bottom: none!important;
}
.brand_sow_design{
    width: auto;
    position: relative;
    top:1px;
    z-index: 2;
    border-top: none!important;
}
/*slider*/
@media  (max-width: 767px) {

    .img_design_slider ul {
        left: 0% !important;
        padding: 0px;
        width: 100%;
        top: 63%!important;
    }
    .class_p_slider {
        right: 0% !important;
    }




    .owl-carousel .owl-item img {
        display: block!important;
        width: 158px!important;
        margin: 0 auto;
    }
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/images/slider/pim_ac.png");
}
.owl-theme .owl-dots .owl-dot span {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/images/slider/pim.png");
}
.owl-theme .owl-dots .owl-dot:hover span {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/images/slider/pim_ac.png");
}
.owl-theme .owl-nav.disabled + .owl-dots {
    position: relative;
    bottom: 50px;
}


.shadow_for_img{
    background-color: black;
    opacity: 0.9;
}
.p_slider_head {
    right: 14%;
    position: relative;
    top: 35%;
    z-index: 6;
    white-space: nowrap;
    font-size: 31px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    font-family: Poppins_Bold, sans-serif;
    visibility: inherit;
    transition: none;
    text-align: center;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    }
.class_p_slider{
    text-align: left!important;
    right:14%;
    position: relative;
    top:9%;
    z-index: 6;
    white-space: nowrap;
    font-size: 31px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    font-family: Poppins_Bold, sans-serif;
    visibility: inherit;
    transition: none;
    text-align: center;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}
@media(min-width: 768px) {
    .img_design_slider p {
        text-align: left !important;
        right: 14%;
        position: relative;
        z-index: 6;
        white-space: nowrap;
        font-size: 32px !important;
        line-height: 35px !important;
        color: rgb(255, 255, 255);
        font-family: Poppins_Bold, sans-serif;
        visibility: inherit;
        transition: none;
        text-align: center;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        letter-spacing: 0px;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0px;
    }
}
.img_design_slider ul{
    list-style: none;
    display: inline-block;
    color: rgb(199, 255, 0);
    font-size: 16px;
    position: absolute;
    right: 10%;
    padding-left: 0px!important;
    text-align: left!important;
    margin-top: 20px!important;

}
.owl-carousel .owl-item img {
    width: 230px;
}

.back_shadow{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 310px;
}
.style_text_corporate li{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    line-height: inherit;
}
.style_text_corporate ul{
    box-sizing: border-box;
    margin: 0px 0px 1.25rem;
    padding: 0px;
    font-size: 14px;
    line-height: 1.6;
    list-style-position: outside;
    font-family: Poppins_Bold, sans-serif;
    color: #222222;
}
.style_text_corporate p{
     box-sizing: border-box;
     margin: 0px 0px 1.25rem;
     padding: 0px;
     font-family: Poppins_Regular, sans-serif;
     font-size: 14px;
     line-height: 1.6;
     text-rendering: optimizeLegibility;
     color: #222222;
     text-align: center;
 }
.adress_style{
    padding-bottom: 20px;
}
.style_text_corporate address{
    box-sizing: border-box;
    padding: 0px;
    font-family: Poppins_Regular, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: #222222;
    text-align: center;
    margin-bottom: 0px;
}
.style_text_corporate h4{
    box-sizing: border-box;
    margin: 25px 0px 1.25rem;
    padding: 0px;
    font-family: Poppins_Bold, sans-serif;
    font-size: 23px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: #222222;
    text-align: center;
}
.style_text_corporate address{
    box-sizing: border-box;
    text-align: center;
    color: #222222;
    font-family: Poppins_Regular, sans-serif;
    font-size: 16px;
}
.style_head{
    height:50px;
}
.p_class p{
    margin: 0px;
}
.style_forms_mail{
    background: #706F6F;
    padding: 3em 0;
    float: left;
    width: 100%;
}
.style_h4 {
    display: inline-block;
    width: 76%;
    box-sizing: border-box;
    margin: 25px 0px 1.25rem;
    padding: 0px;
    font-family: Poppins_Light, sans-serif;
    font-size: 23px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: #222222;
    text-align: center;
}
.p_style_mail p{
    color: white!important;
}
.p_style_mail {
    font-size: 18px;
    color: white!important;
}
.text_book b{
    text-align: center;
    font-family: 'Poppins_Bold', sans-serif;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 4.5rem;
    font-size: 28px;
}
.text_book p{
    text-align: center;
    font-family: 'Poppins_Bold', sans-serif;
    font-style: normal;
    color: red;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    font-size: 18px;
}
.text_book{
    padding-top: 26px;
    text-align: center;
}
.button_book {
    margin: 8px 0!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;

}
.style_text_models h1{
    font-family: Poppins_Bold, sans-serif;
    font-size:45px;
    text-align: center;
    color: #222222;
}
.style_text_models .red_information{
    margin-top:20px;
    margin-bottom: 20px;
    border-radius:100px;
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF;
    padding:15px;
    text-align: center;
    margin: 20px 0px 60px;
}
.style_text_models p{
    font-family: Poppins_Regular, sans-serif;
    font-size:14px;
    text-align: center;
}
.col_style{
    padding: 0px;
    margin: 0 auto;
    float: none;
}
.table_class a:hover{
    font-family: Poppins_Bold, sans-serif;
    color: #ff0000;
}
.table_class a{
    text-decoration: none;
    font-family: Poppins_Regular, sans-serif;
    font-size:20px;
    color: #181818;
    line-height: 1.5;
}
@media (max-width: 767px) {
    .style_text_models h1{
        font-size: 40px;
    }
}
.style_broken_class h1{
     font-family: Poppins_Bold, sans-serif;
     font-size:40px;
     text-align: center;
     color: #222222;
 }
.style_broken_class h2{
    font-family: Poppins_Bold, sans-serif;
    font-size:26px;
    text-align: center;
    color: #222222;
}
.tab_title  > li > a:hover {
    background: #e1e1e1;
}
.tab_title a{
    border-right: none!important;
    border-left: none!important;
    cursor: pointer!important;
    font-family: Poppins_Regular , sans-serif;
    cursor: default;
    color: #181818;
    background: #EFEFEF;
    padding: 0 17px;
    text-align: center;
    overflow: hidden;
    height: 45px;
    border-radius: 0px!important;
}
.tab_title > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-family: Poppins_Bold , sans-serif;
    color: #181818;
    border-top: 7px solid #181818;
    margin-top: -7px;
    height: 52px;
}
.tab_title li{
    width: 50%;
}
.class_b .p2{
    padding-left: 15px;
    font-family: Poppins_Bold , sans-serif;
    color: #181818;
    font-size: 26px;
}
.class_b .p1{
    padding-left: 15px;
    font-family: Poppins_Bold , sans-serif;
    color: #181818;
    font-size: 26px;
}
.class_b{
    padding-top: 20px;
}
.button_device button{
    margin: 0px!important;
    padding-left: 3rem;
    padding-right: 3rem;
}
.tab_title{
    padding-top: 40px;
}
.line_height_style p{
    padding:0 0 20px!important;
}
@media (min-width: 767px) {
  .text_povn_mob{
      display: none;
  }
}
@media (max-width: 767px) {
    .tab_title li{
        width: 100%;
    }
    .text_povn{
        display: none;
    }
    .class_b .p1{
        font-size: 22px;
    }
    .class_b .p2{
        font-size: 19px;
    }
    .style_broken_class h1 {
        font-size: 30px;
    }
    .style_broken_class h2 {
        font-size: 20px;
    }
}
.all_product{
    min-height: 195px;
    text-align: center;
}
.all_product p{
    min-height: 52px;
    max-height: 52px;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 20px;
    font-family: Poppins_Bold , sans-serif;
    font-size: 18px;
    cursor:pointer;
    color: #181818;
}
.all_product img {
    max-height: 10em;
    min-height: 10em;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.all_product a {
    display: inline-block;
    text-decoration: none;
}
.all_product:hover {
    background-color: #ddd;
}
.button_search{
    margin: -1px 0!important;
    padding-top: 4px!important;
    padding-bottom: 4px!important;
}
.form_style_search{
    border-color: #181818;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    height: 35px;
    border-radius: 0;
}
.button_login button{
    cursor: pointer;
    font-family: 'Poppins_Light', sans-serif;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
    background-color: rgba(50,50,50,0.50);
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
    display: inline-block;
    width: 100%;
}
.button_login button:hover{
    background-color: black;
}
.button_login a:hover{
    background-color: black;
}
.button_login a{
    width: 49%;
    cursor: pointer;
    font-family: 'Poppins_Light', sans-serif;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
    background-color: rgba(50,50,50,0.50);
    border: 1px white solid;
    color: #FFFFFF !important;
    transition: background-color 300ms ease-out;
}
.button_login{
    width: 100%;
}
.forgor_password{
    padding: 0px 0 20px;
}
.text_logout p{
    font-family: 'Poppins_Light', sans-serif;
    font-size: 18px;
    border-color: #181818;
}
.text_logout .help-block{
    margin: 0px;
}
.class_search:hover , .class_search.active{
    background-color: #ddd!important;
}
.button_logout button{
    width: 100%;
    cursor: pointer;
    font-family: 'Poppins_Bold', sans-serif;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 13px;
    background-color: white;
    border: 1px white solid;
    color: black!important;
    transition: background-color 300ms ease-out;
}
.button_logout button:hover{
    background-color: #ddd!important;
}
.button_logout_mob button{
    width: 100%;
    cursor: pointer;
    font-family: 'Poppins_Bold', sans-serif;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 13px;
    background-color: #fafafa;
    border: 1px white solid;
    color: black!important;
    transition: background-color 300ms ease-out;
}
.button_logout_mob button:hover{
    background-color: #ddd!important;
}
.brand_sow_design a{
    text-decoration: none;
    cursor: pointer;
}

.brand_p{
    text-decoration: none;
    font-size: 13px;
    color: #6f6f6e;
    line-height: 2;
    padding-top: 13px;
    font-family: Poppins_bold ,sans-serif;
    display: inline-block;
}
.menu_brend{
    text-align: center;
}
.menu_brend a{
    text-decoration: none;
    cursor: pointer;
}
.menu_brend p{
    text-decoration: none;
    font-family: Poppins_Regular, sans-serif;
    font-size: 20px;
    color: #181818;
    line-height: 1.5;
}
.class_size_form .form-group{
    font-size: 10px;

}
.class_size_form input {
    height: 38px!important;
}
.class_size_form button {
    margin: 27px 0!important;
}

.tab_title_client  > li > a:hover {
    background: #e1e1e1;
}
.tab_title_client a{
    border-right: none!important;
    border-left: none!important;
    cursor: pointer!important;
    font-family: Poppins_Regular , sans-serif;
    cursor: default;
    color: #181818;
    background: #EFEFEF;
    padding: 0 17px;
    text-align: center;
    overflow: hidden;
    height: 45px;
    border-radius: 0px!important;
}
.tab_title_client .nav-tabs .nav-link.active  {
    font-family: Poppins_Bold , sans-serif;
    color: #181818;
    border-top: 7px solid #181818!important;
    margin-top: -7px;
    height: 52px;
}
.tab_title_client{
     border-bottom: 0px;
}
.tab_title_client li{
    padding-top: 15px;
    width: 15%;
}
.text_reset_password{
    text-align: center;
    font-family: Poppins_Bold, sans-serif;
    font-size: 18px;
}
.padding_0{
    padding: 0px;
}
.container_center{
    text-align: center;
}
.heignt_40{
    height: 40px;
}
.address_street{
    font-size: 25px;
    margin-bottom: 25px;
    font-family: Poppins_Bold, sans-serif;
}
.Opening_times{
    padding-bottom: 20px!important;
    font-size: 25px;
    font-family: Poppins_Bold, sans-serif;
}
.modelPage{
    color:white;
    text-align: center;
    font-size: 45px;
    font-weight: 800
}
.glyphicon-user{
    font-size: 18px;
}
.glyphicon-user:hover{
    color: yellow;
}
.menu_style_header li:hover {
    background-color: #ddd;
}
.padding_logout{
    padding-right: 5px;
}
.brand_sow_design{
    text-align: center;
}
.black1 , .black2, .black3, .black4, .black5, .black6{
    cursor: pointer;
}
.class_search_pading_top{
    padding-top: 10px;
}
.number_error{
    font-family: Lato;
    font-weight: 600;
    font-size:200px;
    color: #62697c;
}
.border_error{
    margin-top: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    padding: 30px 30px 30px;
    border: 1px solid rgba(187, 187, 187, 0.4);
}
.button_error_cl a:hover{
    background-color: black;
    color: #fff;
    text-decoration: none;
}
.border_reset{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    padding: 30px 80px 30px;
    border: 1px solid rgba(187, 187, 187, 0.4);
}
.button_error {
    display: inline-block;
    padding: 9px 35px 9px;
    margin-top: 20px;
    line-height: 36px;
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 2px;
}

.btn_per {
    font-family: Lato;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.text_site_error h1 {
    font-size: 31px;
    color: #62697c;
    font-family: Lato;
}
.text_site_error ul {
    padding-left: 0px;
    list-style: none;
    line-height: 1.5;
    font-size: 14px;
    color: #62697c;
    font-family: Lato;
    font-weight: 400;
}
.menu_header1{
    margin-bottom: 0px;
    padding-bottom: 20px;
}
@media (max-width: 767px) {
    .padding_0{
        padding-left: 15px;
        padding-right: 15px;
    }
}
.alert-info{
    color: black!important;
    border-color: #ddd!important;
    background-color: white!important;
}
.height_all_product{
    padding-top: 20px;
}
.style_mob_menu .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: white;
}
.viewAll{
    color: black;
    font-size: 16px;
    font-family: Poppins_Bold, sans-serif;
}
.help-block{
    font-size: 14px!important;
}
.table_class td:hover{
    background-color: #ddd;
}
.blockModels p{
    padding-top: 5px;
    color: black;
    font-size: 16px;
    font-family: Poppins_Bold, sans-serif;
}
.style_right_panel select:hover {
    background-color: #f3f3f3;
    border-color: #999999;
}
.form_group .form-group{
    margin-bottom: 0px;
}
.menu_brend:hover{
    background-color: #ddd;
}
.owl-theme .owl-dots .owl-dot span {
    margin: 5px 3px;
}
@media(max-width: 767px) {
    .class_p_slider{
        font-size: 16px!important;
    }

    .img_design_slider p {
        left: 50%;
        font-size: 16px!important;
        text-align: center!important;
        position: relative;
        z-index: 6;
        white-space: nowrap;
        line-height: 20px !important;
        color: rgb(255, 255, 255);
        font-family: Poppins_Bold, sans-serif;
        visibility: inherit;
        transition: none;
        text-align: center;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        letter-spacing: 0px;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0px;
    }
}
.addres_style p{
    padding-bottom: 20px!important;
    font-size: 25px;
    font-family: Poppins_Bold, sans-serif;
}
.padding-top_20{
    padding-top: 20px;
}
.admin_name{
    font-size: 12px!important;
}

.BrandShowModelsHover{
    border:1px solid transparent;
}
.class_page_review h1{
     box-sizing: border-box;
     margin: 0.2rem 0px 0.5rem;
     padding: 0px;
     font-family: Poppins_Bold, sans-serif;
     color: #222222;
     text-rendering: optimizeLegibility;
     line-height: 1.4;
     font-size: 36px;
 }
.class_page_review h2{
    box-sizing: border-box;
    margin: 0.2rem 0px 0.5rem;
    padding: 0px;
    font-family: Poppins_Bold, sans-serif;
    color: #222222;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    font-size: 25px;
}
.class_page_review .hr{
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.class_page_review .view_user{
    font-family: Poppins_Light, sans-serif;
    box-sizing: border-box;
    margin: 0px 0px 1.25rem;
    padding: 0px;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    color: #222222;
}
.raters-name {
    font-family: Poppins_Regular, sans-serif;
    box-sizing: border-box;
    margin: 0px 0px 1.25rem;
    padding: 0px;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    color: #222222;
}
.review-time{
    font-family: Poppins_Regular, sans-serif;
    box-sizing: border-box;
    margin: 0px 0px 1.25rem;
    padding: 0px;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    color: #222222;
}
.raters-name strong{
    color: #017eac;
}
.h4{
    font-family: Poppins_Regular, sans-serif;
    box-sizing: border-box;
    margin: 0px 0px 1.25rem;
    padding: 0px;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    color: #222222;
}
.review-body p{
    box-sizing: border-box;
    margin: 0px 0px 1.25rem;
    padding: 0px;
    font-family: Poppins_Light, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: #222222;
}
.glyphicon-star {
    font-size: 40px;
    color: #fde16d;
}
.half {
    position: relative;
}
.glyphicon-star.half:before {
     position: relative;
     z-index: 9;
     width: 47%;
     display: block;
     overflow: hidden;
 }
.glyphicon-star.half:after {
     content: '\e006';
     position: absolute;
     z-index: 8;
     color: #e3e3e3;
     top: 0;
     left: 0;
 }
.glyphicon-star.none{
    color: #e3e3e3;
}